@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto Condensed', sans-serif; }

body {
  width: 100%;
  background-color: #F2F2F2; }
  body header {
    width: 100%;
    background-color: #3F76A6; }
    body header a .logo {
      height: 100px;
      margin-top: 20px; }
      body header a .logo:hover {
        transform: rotate(360deg);
        transition: all 1s cubic-bezier(1, 0, 0, 1); }
    body header h1 {
      text-align: center;
      margin-top: 20px;
      padding-bottom: 20px; }
    body header .navbar .navbar-collapse .navbar-nav {
      display: flex;
      justify-content: space-between;
      margin-right: 0;
      padding-right: 0;
      align-items: flex-end; }
  body main .contenedor .seccionUno h2 {
    text-align: center;
    padding: 20px; }
  body main .contenedor .seccionUno .textoUno {
    text-align: justify;
    padding: 0px 20px 20px 20px; }
  body main .contenedor .seccionDos {
    display: grid;
    grid-template-columns: repeat(2 1fr);
    grid-template-rows: repeat(2 1fr);
    align-content: center;
    align-items: center;
    justify-content: space-around;
    grid-template-areas: "foto texto" "foto boton"; }
    body main .contenedor .seccionDos .imgGato {
      grid-area: foto;
      width: auto;
      height: 300px;
      margin-bottom: 20px;
      box-shadow: 4px 4px 3px rgba(0, 0, 0, 0.596); }
    body main .contenedor .seccionDos .textoDos {
      grid-area: texto;
      text-align: justify;
      padding: 20px;
      width: 550px; }
    body main .contenedor .seccionDos .botonUno {
      text-align: center; }
      body main .contenedor .seccionDos .botonUno #botonUno {
        grid-area: boton;
        margin-bottom: 20px;
        font-size: 18px;
        background-color: #D93636;
        color: black;
        padding: 7px;
        border: none;
        text-transform: uppercase;
        border-radius: 10px; }
  body footer {
    text-align: center;
    background-color: #3F76A6;
    padding: 20px 0px 20px 20px; }
    body footer .textoTres {
      text-align: center; }
    body footer .email, body footer .textoTres {
      font-size: 16px;
      margin-bottom: 5px; }
    body footer #send {
      margin: 0px 0px 20px 8px;
      font-size: 16px;
      background-color: #D93636;
      color: black;
      padding: 7px;
      border: none;
      text-transform: uppercase;
      border-radius: 10px; }
    body footer .redesSociales img {
      margin-bottom: 8px;
      height: 50px;
      padding: 5px;
      width: 50px; }
    body footer .ultTexto {
      font-size: 14px;
      text-align: center; }

/* Experiences */
main h2 {
  text-align: center;
  padding: 20px; }

main .container-fluid {
  margin-bottom: 20px; }
  main .container-fluid .animacion:hover {
    transform: scale(1.1);
    transition: all 1s; }
  main .container-fluid .animacion .card-body h3 {
    padding-bottom: 20px;
    margin-left: 8px;
    font-size: 20px; }
  main .container-fluid .animacion .card-body p {
    margin: 0px 5px 0px 8px;
    font-size: 16px;
    padding-bottom: 8px;
    text-align: justify; }
  main .container-fluid .animacion .card-body .botonRojo {
    background-color: #D93636 !important; }

@media (min-width: 320px) and (max-width: 1000px) {
  .contenedorExper {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center; } }

@media (min-width: 400px) and (max-width: 800px) {
  nav a {
    font-size: 18px; }
  nav {
    width: 100%;
    text-align: center;
    padding-bottom: 10px; }
  .search {
    text-align: center; } }

/* Tips */
.textoTip {
  text-align: justify;
  padding: 0px 20px 20px 20px; }

#tip1 {
  padding-left: 10px; }

#tip2 {
  padding-left: 10px; }

#tip3 {
  padding-left: 10px; }

/* FAQ's */
iframe {
  margin-left: 8px;
  padding-bottom: 8px; }

.datos {
  margin-right: 20px; }

@media (min-width: 320px) and (max-width: 456px) {
  iframe {
    width: 250px; } }

/* Contact me */
form {
  text-align: center; }

.formulario {
  margin: 18px; }

.apellido {
  width: 100px;
  height: auto;
  transition: all 0.5s; }

.apellido:focus {
  width: 150px;
  height: auto;
  font-size: 26; }

.botonesFormulario {
  display: block; }

.botonesFormulario input {
  margin: 5px 5px 12px 5px;
  font-size: 14px;
  background-color: #D93636;
  color: black;
  padding: 5px;
  border: none;
  text-transform: uppercase;
  border-radius: 10px; }

.formulario label {
  font-size: 18px; }

@media (min-width: 320px) and (max-width: 368px) {
  #opiniones {
    width: 200px; } }
